<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <div id="mistress-display">
  </div>

  <form action="https://ssomf.hyperchat.com/cgi-bin/somf.exe#chatmark" method="POST">
    <input type="hidden" name="vqvcook" value="1">
    <input type="hidden" name="vqxus" value="athelon@soi">
    <input type="hidden" name="vqxro" value="multiloc@soi"> From::
    <input type="text" name="vqxha" size="11" value="athelon"> To:
    <input type="text" name="vqxto" size="11" value=""> Show:
    <input type="text" name="vqxby" size="3" value="20">

    <textarea  name="vqxsp" rows="4" cols="55" wrap="VIRTUAL"></textarea>
    <br>
    <input type="submit" name="vqvaj" value="Talk/Listen">
  </form>


</body>

</html>
